<%- include header %>
<h1>测试TABLE</h1>
<%- include ills %>
<br><br>
<table>
    <tr>
        <th class="title">CdnIP</th>
        <th class="title">OS</th>
        <th class="title">Timings</th>
        <th class="title" style="width: 200px">GEO</th>

    </tr>
    <% for(var i=0;i<restxt.length;i++){ %>
    <% restxt.length %>
    <tr>
        <td class="txt"><%= restxt[i].name %></td>
        <td class="txt"><%= restxt[i].os %></td>
        <td class="timing">
            <div class="d_dns" style="width:<%= restxt[i].timing.t_dns*10 %>px;float:left;"><%= restxt[i].timing.t_dns %></div>
            <div class="d_conn" style="width:<%= restxt[i].timing.t_conn*10 %>px;float:left;"><%= restxt[i].timing.t_conn %></div>
            <div class="d_send" style="width:<%= restxt[i].timing.t_send*10 %>px;float:left;"><%= restxt[i].timing.t_send %></div>
            <div class="d_wait" style="width:<%= restxt[i].timing.t_wait*10 %>;float:left;"><%= restxt[i].timing.t_wait %></div>
            <div class="d_recv" style="width:<%= restxt[i].timing.t_recv*10 %>px;float:left;"><%= restxt[i].timing.t_recv %></div>                                                                                         <!-- 3333 -->
        </td>
        <td class="geo">
            <div class="d_geo" style="width:<%= restxt[i].geo/10 %>px;float:left;"><%= restxt[i].geo%></div>
        </td>

    </tr>
    <% }%>
</table>
<br>
<%- include tail %>


